body {
    margin: 0 auto;
    padding: 0;
    width: 50%;
    background: #252525;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    text-align: center;
}

img {
    width: 304px;
    height: 228px;
}

h1, h2 {
    color: #e8e8e8;
}

p {
    color: #f0e7d5;
}